.MovieTheater {
    transform-style: preserve-3d;

    /* position: relative; */
    position: fixed;
    top: 0;
    z-index: -1;

    width: 100vw;
    height: 50vw;

    perspective-origin: 50% calc(100% / 6);
    perspective: 100rem;

    --rotateX: rotateX(0deg);
    --rotateY: rotateY(0deg);
    transform: scale(1.4) translateY(7vw) var(--rotateX) var(--rotateY);
    animation: animate 2s ease-in-out;
    /* animation: animate 10s linear infinite; */
}

/* test */
/* @keyframes animate {
    0% {
        transform: scale(.5) rotateY(0deg) rotateX(0);
    }
    70% {
        transform: scale(.8) rotateY(360deg) rotateX(0deg);
    }
    100% {
        transform: scale(1.2) rotateY(360deg) rotateX(-30deg);
    }
} */

@keyframes animate {
    0% {
        transform: scale(1.1) translateY(0) rotateX(-10deg) rotateY(-10deg);
    }
    100% {
        transform: scale(1.4) translateY(7vw) rotateX(0) rotateY(0);
    }
}

.MovieTheater * {
    transform-style: inherit;
}

.MovieTheater .surface {
    /* test */
    background-color: #7a7a7a01;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30vw;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.MovieTheater .screen {
    background-size: cover; 
    transform: translate3d(0, 0, -100vw);
    background: radial-gradient(rgb(228, 228, 228), rgb(253, 253, 253));
    background: radial-gradient(#fff, #000);
}

.MovieTheater .screen-content {
    background-color: #fff;
    width: 95%;
    height: 80%;
}

.MovieTheater .ceiling {
    height: 120vw;
    transform-origin: top;
    transform: rotateX(-90deg) translateY(-20vw);
    background: radial-gradient(circle at 50% 100%, rgba(74, 75, 44, 0.137), rgb(35, 35, 48)50%, #000);
    border: 10vw solid rgba(0, 0, 0, 0.623);
}

.MovieTheater .wall-right {
    transform-origin: right;
    transform: rotateY(-90deg);
    background: radial-gradient(circle at 0% 50%, rgba(74, 75, 44, 0.137), rgb(56, 56, 75)50%, #000);
    border: 5vw solid rgba(0, 0, 0, 0.39);
    border-left: none;
}

.MovieTheater .wall-left {
    transform-origin: left;
    transform: rotateY(90deg);
    background: radial-gradient(circle at 100% 50%, rgba(74, 75, 44, 0.137), rgb(56, 56, 75)50%, #000);
    border: 5vw solid rgba(0, 0, 0, 0.247);
    border-right: none;
}

.MovieTheater .floor {
    height: 100vw;
    transform-origin: bottom;
    transform: translateY(-50vw) rotateX(90deg);

    background: radial-gradient(farthest-corner at 50% 0%, rgba(253, 255, 155, 0.137), rgb(65, 63, 51)50%, #000);
    border: 10vw solid rgba(0, 0, 0, 0.39);
}

.MovieTheater .interface {
    background-color: transparent;
    transform: translateZ(20vw);
    background: radial-gradient(circle at 50% 25%, transparent,  black 60%);
}
