
.Seat {
    position: relative;
    display: inline-block;
    width: 6vw;
    height: 10vw;
    transform: rotateX(-30deg);
}

.Seat span {
    position: absolute;
    top: 0;
    left: 0;
    width: 6vw;
    height: 10vw;
    border-radius: 1rem 1rem 0 0;
    background-color: rgb(83, 8, 8);
}

.Seat .front {
    filter: brightness(2);
    border-radius: 1.5rem 1.5rem 0 0;
    transform: translateZ(-1vw);
}

.Seat .right {
    width: 1vw;
    left: initial;
    right: 0;
    filter: brightness(2);
    border-radius: 0;
    transform-origin: right;
    transform: rotateY(-77deg) translateY(.5rem) ;
}

.Seat .left {
    width: 1vw;
    filter: brightness(2);
    border-radius: 0;
    transform-origin: left;
    transform: rotateY(77deg) translateY(.5rem);
}